a {
    background: none;
    font-weight: 800;
    font-size: 2em;
    padding-right: 1em;
    color: aliceblue;
    text-decoration: none;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(73, 73, 199);
}

  
.nav-btn:hover {
    color: rgb(73, 73, 199);
    -webkit-text-stroke-color: aliceblue;
    text-shadow: 0 0 15px aliceblue;
  }