.home {
    scroll-margin-top: 100px;
    background: linear-gradient(90deg, rgb(63, 72, 204) 75%, yellow 25%);
}

.greetings {
    width: 35vw;
    padding: 20vh 0 30vh 20vh;
    grid-area: header;
}

.left-side {
    color: rgb(190, 220, 250);
    font-size: 5rem;
    font-weight: 800;
    margin: 1rem;
    display: flex;
    justify-content: start;
}

.intro-body {
    color: aqua;
    font-size: 1.5rem;
    padding: 1rem;
    display: flex;
    justify-content: start;
}

.intro-body-small {
    color: rgb(190, 220, 250);
    font-size: 1rem;
    padding: 20px;
}

.img-border {
    margin: none;
    grid-area: photo;
}

.photo-2 {
    height: 100%;
    padding-top: 22%;
    background: url('../Images/Home_Slide.png') no-repeat center;
    background-size: contain;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: 
    "header header photo"
    "col-1 col-2 photo";
    gap: 20px;
}

.col-1 {
    grid-area: col-1;
}

.col-2 {
    grid-area: col-2;
}

@media only screen and (max-width: 1100px) {
    .greetings {
        padding: 20vh 0 30vh 10vh;
    };
}

@media only screen and (max-width: 900px) {
    .home {
        background: linear-gradient(180deg, rgb(63, 72, 204) 75%, yellow 25%)
    }

    #home-grid {
        grid-template-columns: 1fr;
        gap: 2rem;
        grid-template-areas: 
        "header"
        "col-1"
        "col-2"
        "photo";
    }    

    .photo-2 {
        height: 20%;
        padding-top: 78%;
        background: url('../Images/Home_Slide2.jpg') no-repeat center;
        background-size: contain;
        margin: 2rem;
    }

    .greetings {
        padding: 0 0 5vh 0;
        width: 80vw
    };

}