.home {
    height: 1600px;
    scroll-margin-top: 100px;
    min-width: 760px;
    background-color: rgb(25, 25, 25);
    background-image: url("../Images/Home_Slide.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
}

@media (max-width: 1215px) {
    .home {
        background-size: contain;
    };
}

@media (max-width: 980px) {
    .home {
        background-repeat: repeat;
    };
}